{%extends 'base.html'%}
{% load bootstrap4 %}
{% load static %}
{% block content %}
{{block.super}}

<div class="container">
        <div class="row">
                <div class="col-md-12">
 {%for project in projects%}
 <br><br>
 
 <div class="card img-fluid" style="width:500px;">
 <img src="{{project.image.url}}" class="card img-fluid" alt="image" style="width:500px;height:600px ;">
 <div class="card-img-overlay">
 <a href="{% url 'ratecontent' project.id %}" class="btn btn-outline-info btn-sm">Rate Content</a>
 <a href="{% url 'ratedesign' project.id %}" class="btn btn-outline-info btn-sm">Rate Design </a>
 <a href="{% url 'rateusability' project.id %}" class="btn btn-outline-info btn-sm">Rate Usability</a>
</div>
</div>


 {% endfor %}
 </div>
 </div>

</div>
{% endblock %}
