{%extends 'base.html'%}
{% block content %}
<div class="container" id="search">

  <div class="row">
    {% if project%}
    <h2>Found {{ projectlength }} of searched term {{message}}</h2>
    {% else %}
    <h2> Found 0 project for the search term {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

    {% if project %}
    {% for project in project %}

    <div class="col-md-6">
      <div class="card">
        <h1>{{project.project_name}}</h1>
        <img src="{{project.image.url}}" class="image-responsive" style="height:300px;width:600px" data-toggle="tooltip">
      </div>
    </div>
</div>
</div>
{% endfor %}
{% endif %}
{% endblock %}
